body {

  background: blue;
  padding: 50px;


}

#playing-cards {

  /* background: yellow; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 25px;
  gap: 20px;
  justify-content: center;

}

.card {

  /* margin-top: 20px; */
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  color: red;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  min-width: 200px;
  padding: 10px;

}

.left {

  /* background:grey; */
  /* height: 10px; */
  align-self: flex-start;
  display: flex;
  flex-direction: column-reverse;
  width: calc(100%/4);

}

.middle {

  /* background:grey; */
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100%/2);

}

.right {

  align-items: start;
  align-self: flex-end;
  display: flex;
  flex-direction: column-reverse;
  transform: scale(-1, -1);
  width: calc(100%/4);

}

.card-type-spade,
.card-type-club {

  color: black;

}

.card-type-heart,
.card-type-diamond {

  color: red;

}

.icon-disabled {

  color: white;

}

.icon-row {

  display: flex;
  flex-direction: colunm;
  justify-content: space-between;

}